<div class="container">
  <div class="row">
    <div class="col">
      <div class="content mx-auto">
        <div class="effect">
          <h1 class="display-1">Bienvenidos.<span class="blinking-cursor">|</span></h1>
        </div>
        <h5>Búsqueda de usuarios de github</h5>
        <br>
        <a [routerLink]="['/perfiles']" routerLinkActive="router-link-active" ><button class="btn btn-outline-dark btn-lg" style="border-radius: 0">comenzar la búsqueda</button></a>
      </div>
    </div>
  </div>
</div>
